$primery-text-color: #3c4761;
$white-text-color: #fff;
$accent-color: #30bae7;
$profesion-text-color: #ffdd99;
$name-text-color:#27283d;

$bg-container-color: #87509c;
$bg-services-color: #17c2a4;
$bg-beautiful-color: #e7f1f8;
$bg-portfolio-color: #ffdd99;
$bg-reviews-color: #d74680;
$bg-form-color: #3c5499;
$bg-footer-color: #344b8e;
$bg-line-color: #14a58c;

$bg-hover-nav: #643a79;
$bg-btn-header: #eb7d4b;
$bg-btn-portfolio: #17c2a4;
$bg-btn-form: #30bae7;

