.section-beautiful {
    background-color: $bg-beautiful-color;
}

.beautiful-title {
    @extend %title;

    color: $primery-text-color;
}

.beautiful-text {
    @extend %text;

    color: $primery-text-color;
}

.card-img-beautiful {
    // display: block;
    width: 200px;
    height: 200px;

    background-color: bisque;

    margin-bottom: 40px;

//     @include media-breakpoint-up(lg) {
//     font-size: 42px;
// }
}

h3.card-name {
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 0.75 !important;
    color: $name-text-color !important;

    margin-bottom: 15px !important;
}

h4.card-profesion {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.12 !important;
    color: $accent-color !important;

    margin-bottom: 25px !important;
}

.text-description {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: $primery-text-color;

    margin-bottom: 30px;

}

.social-link {
    // display: flex;
    border: none;
    width: 33px;
    height: 33px;
    border-radius: 50%;

    background-color: $bg-social-color;
    // justify-content: center;
    // align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link {
    fill: white;

    .social-link:hover & {
        fill: $accent-color;
    }
}

.card-body {
    padding: 0px 28px 0 28px;
}