.section-portfolio {
    background-color: $bg-portfolio-color;
}

.portfolio-title {
    @extend %title;

    color: $primery-text-color;
}

.portfolio-text {
    @extend %text;

    color: $primery-text-color;
}

ul.list-btn-portfolio {
    margin-top: 0px;
    margin-bottom: 40px;

    @include media-breakpoint-up(lg) {
        margin-bottom: 80px;
    }
}

.item-button:not(:last-child) {
    margin-right: 10px;
}

.portfolio-button {
    padding: 12px 27px;

    background-color: $bg-litle-btn-portfolio;

    border-radius: 4px;
    border: 0px;
    &.current-btn {
        background-color: white;
    }
}

.list-portfolio {
    margin-bottom: 80px !important;
}

.item-portfolio {
    margin-bottom: 40px;
    @include media-breakpoint-up(lg) {
        margin-bottom: 65px;
    }
}

.computers {
    margin-bottom: 30px;
}

.btn-portfoliio {
    @extend %btn;
    color: $white-text-color;

    background-color: $bg-btn-portfolio;

    border: 0px;
}